<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddMCHC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>_DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PCI.VID to PCI.IGPU#1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PCI.VID to PCI.IGPU#2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHCI to XHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGBE to GLAN</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SUdCRQ==</data>
					<key>Replace</key>
					<data>R0xBTg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBD to PS2K</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>S0JEXw==</data>
					<key>Replace</key>
					<data>UFMySw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>MOU to PS2M</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TU9VXw==</data>
					<key>Replace</key>
					<data>UFMyTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBU to SBUS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CVQ==</data>
					<key>Replace</key>
					<data>U0JVUw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q13 to XQ13(TP-FnF4/HP-updown)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExMw==</data>
					<key>Replace</key>
					<data>WFExMw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q14 to XQ14(TP-up)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNA==</data>
					<key>Replace</key>
					<data>WFExNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q15 to XQ15(TP-down)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNQ==</data>
					<key>Replace</key>
					<data>WFExNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EH01_PRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>TgtBridge</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EH02_PRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>TgtBridge</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHC_PRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>TgtBridge</key>
					<data>WEhDXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HDEF_PRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>TgtBridge</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GLAN_PRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>TgtBridge</key>
					<data>R0xBTg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBIF03 to XBIF03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JJRgM=</data>
					<key>Replace</key>
					<data>WEJJRgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBST04 to XBST04</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery GBIX03 to XBIX03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JJWAM=</data>
					<key>Replace</key>
					<data>WEJJWAM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery SBMN to BMNX 128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0JNTkA=</data>
					<key>Replace</key>
					<data>Qk1OWEA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>battery SBDN to BDNX 128</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0JETkA=</data>
					<key>Replace</key>
					<data>QkROWEA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_STA to XSTA(BAT1)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1NUQQ==</data>
					<key>Replace</key>
					<data>WFNUQQ==</data>
					<key>TgtBridge</key>
					<data>QkFUMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q2B to XQ2B</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EyQg==</data>
					<key>Replace</key>
					<data>WFEyQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_LID to XLID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0xJRAA=</data>
					<key>Replace</key>
					<data>WExJRAA=</data>
				</dict>
			</array>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>ECDT</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 -v</string>
		<key>CustomLogo</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Log</key>
		<false/>
		<key>NeverDoRecovery</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>#PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>compatible</key>
				<string>pci8086,2681</string>
				<key>device-id</key>
				<data>gSYAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>compatible</key>
				<string>pci8086,1e55</string>
				<key>device-id</key>
				<data>VR4AAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x19,0x0)</key>
			<dict>
				<key>name</key>
				<string>intel82579LM</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
			<dict>
				<key>alc-layout-id</key>
				<data>EgAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>#framebuffer-con0-enable</key>
				<data>AQAAAA==</data>
				<key>#framebuffer-con0-flags</key>
				<data>MAIAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AwBmAQ==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAQAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-type</key>
				<data>AAQAAA==</data>
				<key>framebuffer-con3-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con3-type</key>
				<data>AAQAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-portcount</key>
				<data>BAAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>NameEH00</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>Theme</key>
		<string>Lenovo</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/21/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP91.88Z.F000.B00.1809210851</string>
		<key>Board-ID</key>
		<string>Mac-6F01561E16C75D06</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02203306GUF1YJJC</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>222.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xC00DE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookPro9,2</string>
		<key>SerialNumber</key>
		<string>C02H48ZUDTY3</string>
		<key>SmUUID</key>
		<string>C5272247-50EA-4754-A8FC-97936F405AC5</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>BCC83227-1AAF-4EF7-B6C7-80760BA241D7</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>
